%h3 Creating your first idea
%p 
  To get started, simply enter a name and quick description for your idea.  You also need to decide where you are in the process.  Since you are using this tool, you are probably still in the ideation phase but if you've already begun to plan and are using GetIdeated to organize your thoughts, you might be further along.