<!DOCTYPE html>
<html>
<head>
  <title>WYSIWYG</title>

  <link rel="stylesheet" href="editor.css" type="text/css" />

  <script type="text/javascript" src="../dist/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="../dist/jq-wysihat.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var editor = WysiHat.Editor.attach($("#content"));

      var boldButton = $('.editor_toolbar .bold').first();
      boldButton.click(function(event) {
        editor.boldSelection();
        return false;
      });
      editor.bind('wysihat:cursormove', function(event) {
        if (editor.boldSelected())
          boldButton.addClass('selected')
        else
          boldButton.removeClass('selected');
      });

      var underlineButton = $('.editor_toolbar .underline').first();
      underlineButton.click(function(event) {
        editor.underlineSelection();
        return false;
      });
      editor.bind('wysihat:cursormove', function(event) {
        if (editor.underlineSelected())
          underlineButton.addClassName('selected')
        else
          underlineButton.removeClassName('selected');
      });

      var italicButton = $('.editor_toolbar .italic').first();
      italicButton.click(function(event) {
        editor.italicSelection();
        return false;
      });
      editor.bind('wysihat:cursormove', function(event) {
        if (editor.italicSelected())
          italicButton.addClassName('selected')
        else
          italicButton.removeClassName('selected');
      });

      // Hide our error message if the editor loads fine
      $('#error').hide();
    });
  </script>
</head>

<body>
  <p id="error">Oops, you need to build the package before running this example. It's easy: just run <code>rake</code> in the project's directory.</p>

  <p>This is a more advanced example that extends the built-in toolbar class. The code is a bit more verbose, however you have full control of the html.</p>

<code><pre>
  $(document).ready(function() {
    var editor = WysiHat.Editor.attach($("#content"));

    var boldButton = $('.editor_toolbar .bold').first();
    boldButton.click(function(event) {
      editor.boldSelection();
      return false;
    });
    editor.bind('wysihat:cursormove', function(event) {
      if (editor.boldSelected())
        boldButton.addClass('selected')
      else
        boldButton.removeClass('selected');
    });

    var underlineButton = $('.editor_toolbar .underline').first();
    underlineButton.click(function(event) {
      editor.underlineSelection();
      return false;
    });
    editor.bind('wysihat:cursormove', function(event) {
      if (editor.underlineSelected())
        underlineButton.addClassName('selected')
      else
        underlineButton.removeClassName('selected');
    });

    var italicButton = $('.editor_toolbar .italic').first();
    italicButton.click(function(event) {
      editor.italicSelection();
      return false;
    });
    editor.bind('wysihat:cursormove', function(event) {
      if (editor.italicSelected())
        italicButton.addClassName('selected')
      else
        italicButton.removeClassName('selected');
    });

    // Hide our error message if the editor loads fine
    $('#error').hide();
  });
</pre></code>

  <form action="#" method="post" style="width: 500px;">
    <div class="editor_toolbar">
      <a class="button bold" href="#"><span>Bold</span></a>
      <a class="button underline" href="#"><span>Underline</span></a>
      <a class="button italic" href="#"><span>Italic</span></a>
    </div>
    <!-- <div id="content_editor" class="editor" contenteditable="true"></div> -->
    <textarea id="content"></textarea>
  </form>
</body>
</html>
