//
  /* -------------------------------------------------------------------------------------------------

  Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
  This will allow you to update formtastic.css with new releases without clobbering your own changes.

  For example, to make the inline hint paragraphs a little darker in color than the standard #666:

  form.formtastic fieldset ol li p.inline-hints { color:#333; }

  --------------------------------------------------------------------------------------------------*/

.formtastic 
  .input
    label, .label
      font-weight: normal
      display: block
      color: #7f7f7f

    input
      &[type=text], &[type=password], &.text, &.title
        background-color: #FFF
        font-size: 11px

    textarea
      background-color: #FFF
      border: 1px solid #ebebeb
      font-size: 11px

    input
      &[type=text]:focus, &[type=password]:focus, &.text:focus, &.title:focus
        border-color: #88bbc8
        -moz-box-shadow: 0 0px 3px #88bbc8
        -webkit-box-shadow: 0 0px 3px #88bbc8
        box-shadow: 0 0px 3px #88bbc8

    textarea:focus
      border-color: #88bbc8
      -moz-box-shadow: 0 0px 3px #88bbc8
      -webkit-box-shadow: 0 0px 3px #88bbc8
      box-shadow: 0 0px 3px #88bbc8

    select
      background-color: #fff
      border-width: 1px
      border-style: solid

    input
      &[type=text], &[type=password], &.text, &.title
        margin: 5px 0

    textarea, select
      margin: 5px 0

    input
      &.text
        width: 200px
        padding: 5px
      &.title
        width: 200px
        padding: 5px
        font-size: 1.5em

    textarea
      width: 450px
      height: 180px
      padding: 5px

    form.inline
      line-height: 3
      p
        margin-bottom: 0

    .search-input
      background: white url("../images/search-bg.png") right no-repeat
      padding: 6px
      border-radius: 3px
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
      width: 200px
      color: #c6c6c6

    .search-place
      margin-left: 25px

    .required
      color: #ed1c24
      color: #e64135
      color: #ed1c24

    .error
      color: #e64135
      text-align: left
      font-size: 11px

    .success
      color: #acd373
      text-align: left
      font-size: 11px  

form.formtastic fieldset.buttons 
  li.commit
    input
      &[type=submit]
        :margin 0px
        :padding 5px
        font-size: 1.2em
        :text-align right

form.formtastic fieldset ol 
  li.string, li.password, li.stringish
    fieldset
      :padding 1.4em
      :margin 0 0 1.5em 0
    input, select
      padding: 7px 10px
      width: 250px
      border: 1px solid #cccccc
      border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      &:focus
        border-color: #72c2e7
        -moz-box-shadow: 0 0px 5px #72c2e7
        -webkit-box-shadow: 0 0px 5px #72c2e7
        box-shadow: 0 0px 5px #72c2e7
        
  li.text
    textarea
      :width 400px
      :height 5em
      :margin 0em 0
      :padding 5px    

  li.boolean
    p.inline-hints
      color: #666
      margin: 0.5em 0 0 25%
      clear: both

  li.error
    background: #FFFFCC
    padding: 8px 0px 3px 6px
    border-top: 1px dashed #FFCC66
    border-bottom: 1px dashed #FFCC66
    text-align: left
    input
      color: #e64135


    