.clear
  clear: both
  height: 0
  overflow: hidden

.main-menu ul li.controls
  margin-left: 20px

.main-menu ul li a.button
  line-height: 20px
  color: #fff
  margin-left: 10px
  &:visited
    color: #fff

#breadcrumbs
  clear: both
  display: block
  font-size: 11px
  margin-bottom: 15px


#page_header
  overflow: hidden
  .titles
    float: left
    width: 65%
  .placeholder
    padding: 15px
    float: right

#user_nav
  float: right
  display: block
  margin-bottom: 15px
  font-size: 10px

  .top_nav
    float: left
    margin-right: 40px
    a
      display: inline
      margin-right: 10px


#flash
  display: block
  clear: both
  overflow: hidden

#flash_notice,
#flash_error,
#flash_alert
  padding: 0.8em
  margin-bottom: 1em
  border: 1px solid #ddd

#flash_notice
  background: #e6efc2 image-url('theme/cancel.png') 925px center no-repeat
  color: #264409
  border-color: #c6d880

#flash_error
  background-color: #fbe3e4 image-url('theme/cancel.png') 925px center no-repeat
  border-color: #fbc2c4
  color: #e64135

#flash_alert
  background: #fff6bf image-url('theme/cancel.png') 925px center no-repeat
  color: #514721
  border-color: #ffd324


.fieldWithErrors
  display: inline

