#copyright-wrapper
  / COPYRIGHTS WRAPPER STARTS
  #copyright
    = link_to image_tag("logo-bottom.png"), root_url, :id => "copyright-logo" 
    .right
      %p
        %a{:href => "/"} Home
        \/
        = link_to "Contact Us", 'mailto:webmaster@getideated.com'
      %span
        © Copyright 2011 Noctivity Inc. All rights reserved. 