#footer-wrapper
  #footer-container
    #footer
      .one
        .one-third
          %h4 About Us
          %p
            Noctivity Inc, the company behind GetIdeated, has been dreaming up ideas since 
            we were wee little dumplings.  Some of them have turned into great things, some 
            never made it out of our heads.  We've wished we had this tool 
            %i many 
            times.   
        .one-third
          %h4 Stay in Touch
          %ul.social-links
            %li
              = image_tag "theme/icons/facebook.png"
              %a{:href => "http://www.facebook.com/pages/GetIdeatedcom/182927691798759?sk=wall"} Our Facebook page
            %li
              = image_tag "theme/icons/twitter.png"
              %a{:href => "http://twitter.com/getideated"} Follow us on Twitter
        .one-third.last
          %h4 Latest Tweets
          .tweet
