/ GOOGLE FONTS
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,600,600italic,bold,bolditalic"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold"
