- title "Members"
- subtitle "Idea: #{@idea.name}"

- content_for :placeholder do
  = link_to "+ Add Member", '#', :class => "add_member button green large", :remote => true 

.list
  = render 'list'
  
.new_invite{'data-new-invite-url' => new_idea_invite_url(@idea)}
